<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @animation.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @animation.description %>
</p>

<%= link_to 'Edit', edit_animation_path(@animation) %> |
<%= link_to 'Back', animations_path %>
